@import "tailwindcss";

.prose {
    & h1, & h2, & h3, & h4, & h5, & h6 {
        & a {
            text-decoration: none;
        }
    }
    img {
        @apply rounded-xl;
    }
}

.medium-zoom-overlay {
    z-index: 10;
}
.medium-zoom-image {
    z-index: 11;
}